

.title{
    margin-top: 70px;
    font-size: 60px;
    color: orange;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.p1{
    text-align: center;
    font-size: 30px;
    color: rebeccapurple;
    font-style: italic;
    margin-top: 70px;

}
.i1{
    
}
.p2{
    font-size: 18px;
    margin-top: 30px;
    
    
    
}
.p3{
    text-align: center;
    font-size: 30px;
    color: rebeccapurple;
    font-style: italic;
    margin-top: 70px;
   
}
.i2{
    
}
.p4{
    font-size: 18px;
    margin-top: 30px;
    
 
    
}
.p5{
    text-align: center;
    font-size: 30px;
    color: rebeccapurple;
    font-style: italic;
    margin-top: 70px;

}
.i3{
    
}
.p6{
    font-size: 18px;
    margin-top: 30px;
    
    
    
}
.p7{
    text-align: center;
    font-size: 30px;
    color: rebeccapurple;
    font-style: italic;
    margin-top: 70px;
   
}
.i4{
    
}
.p8{
    font-size: 18px;
    margin-top: 30px;
    
 
    
}