

.title{
    margin-top: 85px;
    font-size: 45px;
    color: brown;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: lightcyan;
}

.p1{
    font-style: italic;
    font-size: 20px;
    margin-top: 50px;
    background-color: lightyellow;
}
.h3{
    font-size: 30px;
    color: blue;
    margin-top: 20px;
    text-align: center;
   
}
.h3{
    font-size: 30px;
    color: blue;
    margin-top: 20px;
    text-align: center;
}
.h3{
    font-size: 30px;
    color: blue;
    margin-top: 20px;
    text-align: center;
    background-color: lightgreen;
}